body {
	font-family: 'Rajdhani', sans-serif;
	background-color: #99ccff;
}
.header {
	text-align: center;
	margin: 0 auto;
	
}
h1 {
	color: #2f4f4f;
	font-size: 10em;
	margin-top: auto;
	margin-bottom: -4px;
	font-weight: 400;
}
input {
  height: 2em;
  width: 3em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
}
input #text{
	width:23em;
}
button {
background-color: #99cc99;
  font-family: Rajdhani;
  font-weight: 700;
  color: #fff;
  width: 66px;
  height: 64px;
  line-height: 66px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 125px;
  outline-style: none;

}
li {
	list-style: none;
	font-size: 3em;
}
#shoppingList {
	  text-align: left;
  	  padding-left: 35em;
}
.completed {
    text-decoration: line-through;
}